::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  width:0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #032541;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05345a;
}

